[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/queezythegreat/arduino-cmake.git
[submodule "third-party/ArduinoSTL"]
	path = third-party/ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL.git
[submodule "third-party/CppLinuxSerial"]
	path = third-party/CppLinuxSerial
	url = git@github.com:daveshed/CppLinuxSerial.git
